@import './directory/layouts/header';
* {
  box-sizing: border-box;
}
body {
  width: 90%;
  height: 2000px;
  margin: 0 auto;
  font-family: 'Lato', sans-serif;
}
main {
  display: flex;
  position: relative;
  width: 100%;
  height: 100%;
}
.menuGauche {
  width: 30%;
  height: 100%;
  background-color: cadetblue;
}
.left {
  margin-left: 10px;
}

/*image*/
.portrait {
  height: 250px;
  width: 200px;
  object-fit: cover;
  position: absolute;
  top: -150px;
  margin-left: 7.5%;
}
.coordonnees {
  margin-top: 140px;
}
.adresse {
  display: flex;
  height: 40px;
}
.iconPosition {
  display: flex;
  justify-content: center;
  align-items: center;
}
.textAdress {
  margin: 0;
  margin-left: 15px;
}
.marginUp {
  margin-top: 5px;
}
svg {
  width: 20px;
  height: 20px;
  margin-left: 10px;
}
.flex {
  display: flex;
  height: 30px;
}
.parcours {
  width: 70%;
}
.competences {
  margin-top: 30px;
}
